# version: '3'

# volumes:
#   pg_data_production:
#   static_volume:
#   media:

# services:
#   db:
#     image: postgres:13.10
#     env_file: .env
#     volumes:
#       - pg_data_production:/var/lib/postgresql/data
#   backend:
#     image: barsik2142/foodgram_backend
#     env_file: .env
#     volumes:
#       - static_volume:/app/static/
#       - media:/app/media/
#   frontend:
#     image: barsik2142/foodgram_frontend
#     env_file: .env
#     command: cp -r /app/build/. /frontend_static/
#     volumes:
#       - static_volume:/frontend_static
#   gateway:
#     image: barsik2142/foodgram_gateway
#     env_file: .env
#     volumes:
#       - static_volume:/var/html/static/
#       - media:/var/html/media/
#     ports:
#       - 8000:80
version: '3.8'
services:
  db:
    image: postgres:13-alpine
    volumes:
      - db_volume:/var/lib/postgresql/data/

  backend:
    image: barsik2142/foodgram_backend
    depends_on:
      - db
    volumes:
      - static_value:/app/static/
      - media_value:/app/media/
    env_file:
      - ./.env

  frontend:
    image: barsik2142/foodgram_frontend
      - db
      - backend

  nginx:
    image: nginx:1.21.3-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_value:/var/html/static/
      - media_value:/var/html/media/

volumes:
  db_volume:
  static_value:
  media_value:
